.terraform
.terraform.lock.hcl.bkp
terraform.tfstate
terraform.tfstate.*
.build
.idea/
.DS_Store
source/kubeconfig/
kubeconfig*
.terraform.lock.hcl
local_tf_state/
.vscode
.gitallowed
existing_vpc/dev/splunk-fluentbit/
pod.yml
existing_vpc/dev/pod.yml
existing_vpc/dev/pod.yml
